<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Source Code</title>
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <script src="https://rawgit.com/JakeConway/FoundationToFHIRjs/master/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <style>
        .black-card-text {
            color: #000;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">
        <!-- Image and text -->
        <img src="http://niquola.github.io/hl7-russia-2014-fhir-slides/fhiri.png" width="30" height="30"
             class="d-inline-block align-top" alt="">
        FM-to-FHIR
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../info/sourcecode/">Source Code</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h3>Source Code</h3>
    <div class="card card-inverse">
        <div class="card block" style="background-color: #f5f5f5; border-color: #e3e3e3;">
            <h5 class="black-card-text">FoundationToFHIRjs</h5>
            <p class="black-card-text"><i>A front end javascript library for PUTing Foundation Medicine XML files to
            FHIR servers</i></p>
            <p class="black-card-text"><b>Source code: </b><a href="https://github.com/JakeConway/FoundationToFHIRjs">
                GitHub Repo
            </a></p>

            </br>

            <h5 class="black-card-text">FoundationToFHIRpy</h5>
            <p class="black-card-text"><i>A python script for converting Foundation Medicine XML files to a FHIR bundle</i></p>
            <p class="black-card-text"><b>Source code: </b><a href="https://github.com/JakeConway/FoundationToFHIRpy">
                GitHub Repo
            </a></p>

            </br>

            <h5 class="black-card-text">FoundationToFHIR</h5>
            <p class="black-card-text"><i>A backend Django application using the FoundationToFHIRjs library</i> (Hosted on Heroku:
                <a href="https://fm-to-fhir.herokuapp.com/">
                https://fm-to-fhir.herokuapp.com/</a>)
            </p>
            <p class="black-card-text"><b>Source code: </b><a href="https://github.com/JakeConway/FoundationToFHIR">
                GitHub Repo
            </a></p>
        </div>
    </div>
</div>
</div>
</body>
</html>