<!DOCTYPE html>
<html lang="en" ng-app="foundationToFhir">
<head>
    <meta charset="UTF-8">
    <title>Foundation to FHIR</title>
        <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

     <!-- javascript libraries -->
    <script src="https://rawgit.com/JakeConway/FoundationToFHIRjs/master/angular.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/JakeConway/FoundationToFHIRjs/master/jquery.min.js" type="text/javascript"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://rawgit.com/JakeConway/FoundationToFHIRjs/master/d3.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/JakeConway/FoundationToFHIRjs/master/FoundationToFHIR.js" type="text/javascript"></script>
</head>
<body ng-controller="foundationToFhirCtrl">
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <a class="navbar-brand" href="">
          <!-- Image and text -->
        <img src="https://niquola.github.io/hl7-russia-2014-fhir-slides/fhiri.png" width="30" height="30"
             class="d-inline-block align-top" alt="">
        FM-to-FHIR
    </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../info/sourcecode/">Source Code</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h3>Configuration</h3>
    <div class="card card-inverse">
        <div class="card block" style="background-color: #f5f5f5; border-color: #e3e3e3;">
            <div base-url>
            </div>
            <div grab-files>
            </div>
        </div>
    </div>
    <h3>Status</h3>
    <div class="card card-inverse">
        <div class="card block" style="background-color: #f5f5f5; border-color: #e3e3e3;">
            <div id="parser-div" foundation-to-fhir-directive files="files" style="overflow-y: scroll">
                <p id="status-placeholder" style="text-align: center; top: 50%; position: relative; color: black;">
                    Upload FM XML Files to PUT to Server
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>